<a href="https://colab.research.google.com/github/FranItu/CODOJOTRACK1/blob/main/EstaturaPromedio_Francisco_Iturralde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ESTATURA PROMEDIO

In [10]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [11]:
import pandas as pd
import numpy as np

In [21]:
df = pd.read_csv('/content/drive/MyDrive/Coding_Dojo/Bases_De_Datos/athleteEventsNoPersonal.csv')
df.head()

   ID   Age  Height  ...          Sport                               Event Medal
0   5  21.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
1   5  21.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
2   5  25.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN
3   5  25.0   185.0  ...  Speed Skating  Speed Skating Women's 1,000 metres   NaN
4   5  27.0   185.0  ...  Speed Skating    Speed Skating Women's 500 metres   NaN

[5 rows x 12 columns]

In [27]:
df2 = df.groupby(['ID','Year','Height']).size().reset_index()
dfavg = df2.groupby(['Year'])['Height'].mean()
dfavg

Year
1896    159.000000
1900    184.800000
1904    178.727273
1906    177.000000
1908    178.051282
1912    178.576923
1920    175.215686
1924    174.835052
1928    174.935185
1932    174.262774
1936    175.462069
1948    176.451327
1952    175.750000
1956    175.849206
1960    174.530135
1964    175.431181
1968    176.200837
1972    176.400679
1976    176.810277
1980    176.908186
1984    176.637823
1988    177.102797
1992    177.415936
1994    174.798535
1996    177.463102
1998    175.313433
2000    177.125786
2002    175.092391
2004    177.372881
2006    175.119681
2008    177.256643
2010    175.200535
2012    177.593909
2014    175.035047
2016    176.477218
Name: Height, dtype: float64