In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('/content/drive/MyDrive/Coding_Dojo/Bases_De_Datos/titanic.csv')
print(df.head()) #ej1
print(np.round_(len(df[df['Survived'] == 1])/len(df['Survived']), decimals = 3)*100, '%') #ej2 imprime 38.4 %

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]
38.4 %

In [19]:
print(len(df[df['Sex'] == 'male']), 'males') #ej3 577 males
print(len(df[df['Sex'] == 'female']), 'females') #314 females

577 males
314 females

In [21]:
print(np.round_(len(df[df['Fare'] < 10])/len(df['Fare']), decimals = 3)*100, '%') #ej4 imprime 37.7 %

37.7 %

In [23]:
df.groupby(['Survived'])['Age'].mean()
# Survived
# 0    30.626179     #ej5 NOT SURVIVED MEAN
# 1    28.343690     #ej6 SURVIVED MEAN

Survived
0    30.626179
1    28.343690
Name: Age, dtype: float64

In [27]:
df.groupby(['Sex','Survived'])['Age'].mean()
#ej7
#Sex     Survived
#female  0           25.046875
#        1           28.847716
#male    0           31.618056
#        1           27.276022

Sex     Survived
female  0           25.046875
        1           28.847716
male    0           31.618056
        1           27.276022
Name: Age, dtype: float64