<a href="https://colab.research.google.com/github/FranItu/CODOJOTRACK1/blob/main/Week5/T3_Francisco_Iturralde.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#SEMANA 5 TAREA 3

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
import sklearn.metrics as skmt

In [ ]:
#Informacion de la base de datos
'''
Sex		nominal			M, F, and I (infant)
Length		continuous	mm	Longest shell measurement
Diameter	continuous	mm	perpendicular to length
Height		continuous	mm	with meat in shell
Whole weight	continuous	grams	whole abalone
Shucked weight	continuous	grams	weight of meat
Viscera weight	continuous	grams	gut weight (after bleeding)
Shell weight	continuous	grams	after being dried
Rings
'''

In [18]:
#header
hed = ['Sex','Length','Diameter','Height', 'Whole weight', 'Shucked weight','Viscera weight','Shell weight', 'Rings']

In [63]:
df = pd.read_csv('/content/drive/My Drive/Coding_Dojo/Bases_De_Datos/abalone.csv', header = None)
df.head()

   0      1      2      3       4       5       6      7   8
0  M  0.455  0.365  0.095  0.5140  0.2245  0.1010  0.150  15
1  M  0.350  0.265  0.090  0.2255  0.0995  0.0485  0.070   7
2  F  0.530  0.420  0.135  0.6770  0.2565  0.1415  0.210   9
3  M  0.440  0.365  0.125  0.5160  0.2155  0.1140  0.155  10
4  I  0.330  0.255  0.080  0.2050  0.0895  0.0395  0.055   7

## ALUBÓN (Regresion)

In [24]:
df.columns = hed
df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [28]:
df['age'] = df.apply(lambda r: r.Rings + 1.5, axis = 1)
df.pop('Rings')

0       15
1        7
2        9
3       10
4        7
        ..
4172    11
4173    10
4174     9
4175    10
4176    12
Name: Rings, Length: 4177, dtype: int64

In [29]:
df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight   age
0   M   0.455     0.365  ...          0.1010         0.150  16.5
1   M   0.350     0.265  ...          0.0485         0.070   8.5
2   F   0.530     0.420  ...          0.1415         0.210  10.5
3   M   0.440     0.365  ...          0.1140         0.155  11.5
4   I   0.330     0.255  ...          0.0395         0.055   8.5

[5 rows x 9 columns]

In [31]:
y = df.loc[:, 'age'].values
y

array([16.5,  8.5, 10.5, ..., 10.5, 11.5, 13.5])

In [35]:
X = df
X.pop('age')
X.pop('Sex')

0       M
1       M
2       F
3       M
4       I
       ..
4172    F
4173    M
4174    M
4175    F
4176    M
Name: Sex, Length: 4177, dtype: object

In [37]:
X = X.loc[:,:].values
X

array([[0.455 , 0.365 , 0.095 , ..., 0.2245, 0.101 , 0.15  ],
       [0.35  , 0.265 , 0.09  , ..., 0.0995, 0.0485, 0.07  ],
       [0.53  , 0.42  , 0.135 , ..., 0.2565, 0.1415, 0.21  ],
       ...,
       [0.6   , 0.475 , 0.205 , ..., 0.5255, 0.2875, 0.308 ],
       [0.625 , 0.485 , 0.15  , ..., 0.531 , 0.261 , 0.296 ],
       [0.71  , 0.555 , 0.195 , ..., 0.9455, 0.3765, 0.495 ]])

In [58]:
X2 = df[['Length','Diameter','Height', 'Whole weight', 'Shucked weight','Viscera weight','Shell weight']]

In [59]:
x_train, x_test, y_train, y_test = train_test_split(X2, y, test_size = 0.1, random_state = 100)

In [60]:
reg = LinearRegression()  
reg.fit(x_train, y_train)

LinearRegression()

In [61]:
print("Intercept: ", mlr.intercept_)
print("Coefficients:")
list(zip(x_train, mlr.coef_)) #la funcion zip devuelve tuplas con nombre de variable  + valor

Intercept:  4.551546772014771
Coefficients:

[('Length', 0.5039329545763672),
 ('Diameter', 11.686809659998012),
 ('Height', 8.00704173413378),
 ('Whole weight', 10.29335132857649),
 ('Shucked weight', -21.939748923362643),
 ('Viscera weight', -9.706310377256479),
 ('Shell weight', 7.707637275550816)]

## ALUBÓN (KNN)

In [64]:
df.columns = hed
df.head()

  Sex  Length  Diameter  ...  Viscera weight  Shell weight  Rings
0   M   0.455     0.365  ...          0.1010         0.150     15
1   M   0.350     0.265  ...          0.0485         0.070      7
2   F   0.530     0.420  ...          0.1415         0.210      9
3   M   0.440     0.365  ...          0.1140         0.155     10
4   I   0.330     0.255  ...          0.0395         0.055      7

[5 rows x 9 columns]

In [65]:
y = df['Sex']
X = df[['Length','Diameter','Height', 'Whole weight', 'Shucked weight','Viscera weight','Shell weight', 'Rings']]

In [67]:
neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [69]:
predictions = neigh.predict(X)
print(predictions)

['I' 'I' 'I' ... 'M' 'F' 'M']

In [81]:
print(neigh.predict([[0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15]]))

['I']

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  "X does not have valid feature names, but"

In [82]:
print(skmt.accuracy_score(y, predictions))

0.7409624132152263

## Respuestas

Se podria usar el KNN del primer ejercicio para predecir bloques o categorias en las que las edades estarian definidas.

Por otro lado, el modelo de regresion no es lo mejor que podria usarse para predecir el género.